@import "fn.styl"

design = 750px

theme = #3048ff
themea = #2139ea
theme1 = #3f4154


shan-color = #f00

c1 = #fff841

border-color = #4c4e65
border-color1 = #d0d0d0
odds-color = #999

linear()
    color #fff
    backgroundL #6c23e2 #ef3a6f left

