@import "fn.styl"

design = 750px

theme = #f83162
theme1 = #3f4154

themea = #d2214d

shan-color = #f00

c1 = #fff841

border-color = #4c4e65
border-color1 = #d0d0d0
odds-color = #999

linear()
    backgroundL #3f4154 #a356fe left

