@import "fn.styl"
@import "theme.styl"

.header-top
    position fixed
    left 0
    right 0
    top 0
    z-index 98
    background #fff
    .fl
        display block
        height h = 100px
        position absolute
        left 0
        top 0
        padding 0 20px
        span
            line-height h
            text-align center
            display inline-block
            backi '../../src/static/img/70675f_128x128.png' 36px
            background-size 30px
    .title
        text-align center
        line-height 100px
        box-shadow 0 2px 5px rgba(#000, .1)
        font-size 34px
    .fr
        position absolute
        right 0
        top 0
        padding 0 20px
        .filter-text
            line-height 100px
            float left

.sell-page
    height 100%
    padding-top 60px
    h2
        text-align center
        font-size 36px
    ul
        fw 1
        margin-top 60px
        li
            padding 0 64px
            height 104px
            margin-top 20px
            span
                float left
                line-height 104px
            .box
                float left
                margin-left 32px
                p
                    line-height 104px
            .box1
                float left
                margin-left 32px
                height 104px
                background #ccc
                width 438px
                border-radius 10px
                p
                    color #3048ff
                    line-height 104px
                    text-align center
                input
                    border none
                    height 100%
                    border-radius 10px
                    width 100%
                    padding 0 25px
            .fl
                margin-top 22px
                .add
                    float left
                    width 60px
                    height 60px
                    border-radius 50%
                    &.i1
                        back1 '../../src/static/img/c3b057_128x128.png' 30px
                        background-color #3048ff
                    &.i2
                        back1 '../../src/static/img/dd6594_128x128.png' 30px
                        background-color #3048ff

            .ml32
                margin-left 32px

    .tips
        fw 1
        padding 0 159px
        margin-top 25px
        .money
            display block
            p
                line-height 1.6
                font-size 26px

        .box
            margin-top 56px
            background rgba(#000, .6)
            border-radius 10px
            padding 25px 0
            h4
                text-align center
                font-size 30px
                color #fff
                padding-bottom 20px
            p
                color #fff
                padding 0 20px
                line-height 1.5
                font-size 26px
                text-align justify

.pub-button
    position fixed
    left 0
    bottom 0
    right 0
    padding 0 52px 24px
    .item
        width 49%
        float left
        &:nth-child(even)
            float right
    button
        height 105px
        border-radius 10px
        background #3048ff
        color #fff
        width 100%
        &:active
            background themea


.change-pass
    fw 1
    padding 0 30px
    .code
        fw 1
        margin-top 60px
        text-align center
        .pict
            margin-top 20px
            img
                width 320px
    .tips
        fw 1
        text-align center
        margin-top 60px

.order-page
    height 100%
    .list
        fw 1
        height 100%
        .mui-wrapper
            height 100%
            position relative
            overflow hidden
        .ul0
            fw 1
            li
                fw 1
                padding 20px 30px
                background #fff
                border-bottom .1px solid #ccc
            .fl
                line-height 50px
            
            .fr
                display flex
                flex-direction column
                height 150px
                align-items center
                justify-content center
                span
                    mt 0
                    margin-top 10px
                    background theme
                    display inline-block
                    padding 20px 25px
                    border-radius 6px
                    color #fff
                    font-size 26px
            
        .ul1
            li
                padding 20px 0
                span
                    display block
                    line-height 80px
        .item
            border-bottom .1px solid #ccc
            .user
                .text
                    .label
                        .txt
                            color #333
                .price
                    .num
                        color #333
                    .tit
                        color #333
            .inform
                .text
                .p
                    color #333
    .tabs
        fw 1
        border-bottom 1px solid #f7f7f7
        background #fff
        ul
            li
                width 50%
                float left
                text-align center
                line-height 100px
                &.active
                    position relative
                    &:after
                        content ''
                        width 44px
                        height 8px
                        background theme
                        border-radius 10px
                        center 1
                        bottom 0
    .null-data1
        fw 1
        text-align center
        padding-top 300px
        img
            width 80px
            opacity .5
        span
            display block
            margin-top 20px
            color #999

.filter
    position fixed
    left 0
    right 0
    top 95px
    z-index 99
    .layout
        background #2e3649
        fw 1
        ul
            display flex
            flex-wrap wrap
            padding 0 4%
            li
                width 188px
                height 84px
                border-radius 10px
                border 1px solid #ccc
                color #fff
                df 1
                justify-content center
                margin-top 31px
                margin-left 60px
                ml 0 3
                &.active
                    background rgba(#000, .3)
        .confirm
            fw 1
            justify-content space-between
            display flex
            padding 60px 104px
            button
                width 188px
                height 84px
                border-radius 10px
                background theme
                color #fff
                &:active
                    background #2138ec
        
.set-page
    ul
        padding 0 20px
        li
            fw 1
            line-height 120px
            border-bottom .1px solid #ccc
            background url('../../src/static/img/958761_128x128.png') right center/30px no-repeat
            a
                fw 1
    .out-login
        position absolute
        left 0
        right 0
        bottom 120px
        text-align center
        button
            width 310px
            height 102px
            color #fff
            border-radius 10px
            background theme

.pub-upload
    widthZ 140px
    border 1px solid #dadada
    position relative
    back1 '../../src/static/img/774498_162x128.png' 60px
    overflow hidden
    &.noback
        background none
    input
        position absolute
        width 100%
        height 100%
        opacity 0
        left 0
        top 0
        z-index 3
    img
        width 100%
        position relative
        z-index 2
        min-height 100%

.bind-page
    fw 1
    ul
        li
            fw 1
            border-bottom .1px solid #f1f1f1
            padding 25px 30px
            span
                float left
                width 220px
                line-height 90px
            .fr
                widthC 220px
                input[type="text"]
                    height 90px
                    border none
                    width 100%

.rule-page
    fw 1
    overflow hidden
    position relative
    height 100%
    .wrapper
        padding 0 0 30px
        fw 1
    .title
        fw 1
        padding 20px 30px 0
        h2
            line-height 90px
            font-size 34px
        p
            color #999
    .content
        fw 1
        margin-top 40px
        p
            line-height 1.5
            margin-top 6px
            padding 0 30px
    

.clear
    clear both


.order-info
    fw 1
    padding 0 30px
    .box
        fw 1
        margin-top 20px
        background #f7f7f7
        mt 40px
        border-radius 6px
        padding 20px 35px
        h2
            font-size 34px
        ul
            &.mt
                margin-top 30px
            li
                fw 1
                line-height 2
        .fr
            .ico-more
                margin-top 16px
                
    .pub-upload
        margin-top 60px

.pict-show
    text-align center
    margin-top 60px

.upload-file
    display flex
    justify-content center
    flex-direction column
    align-items center
    p
        margin-top 30px

.login
    fw 1
    padding 140px 30px 0
    background #110b19
    height 100%
    .logo
        text-align center
        img
            width 120px
        p
            color #fff
            margin-top 26px
            font-size 34px
    h2
        font-size 40px
        font-weight bold
        color #fff
        margin-top 160px
    ul
        margin-top 40px
        li
            fw 1
            margin-top 20px
            input
                border none
                background #322840
                width 100%
                height 80px
                border-radius 60px
                padding 0 28px
                color #fff
                inputW rgba(#fff, .6)
    .btn
        fw 1
        margin-top 60px
        button
            height 100px
            linear 1
            width 100%
            color #fff
            border-radius 60px
            font-size 36px

.scroller
    height 100%
    position relative

.alert-show
    fixed 1 .8
    .layout
        width 90%
        background #fff
        border-radius 18px
        center 3
        overflow hidden
        h2
            text-align center
            line-height 100px
            border-bottom 1px solid rgba(#ccc, .6)
            font-size 38px
            font-weight bold
        .box
            fw 1
            padding 60px 10%
            input
                height 80px
                border 1px solid #f2f2f2
                width 100%
                padding 0 20px
        .btn
            fw 1
            border-top 1px solid #f2f2f2
            button
                width 50%
                height 100px
                background theme
                color #fff
                font-size 34px
                float left
                &.b1
                    background #fff
                    color theme
                